<nav>
    <div class="site-title">
      <a href="/"> <h1>Blog Abhi</h1> </a>
      <p>A abhi site</p>
    </div>
    <ul>
      <li>
        <a href="/">Blogs</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blogs/create">New Blog</a>
      </li>
    </ul>
  </nav>