<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

     <div class="about content">
         <h2>About us</h2>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi distinctio corporis dicta numquam omnis quasi, nulla, possimus modi, architecto voluptas recusandae laborum aliquid saepe amet quisquam nostrum. </p>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi distinctio corporis dicta numquam omnis quasi, nulla, possimus modi, architecto voluptas recusandae laborum aliquid saepe amet quisquam nostrum. </p>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi distinctio corporis dicta numquam omnis quasi, nulla, possimus modi, architecto voluptas recusandae laborum aliquid saepe amet quisquam nostrum. </p>
     </div>

     <%- include('./partials/footer.ejs') %>
  </body>
</html>
